<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST">
      <input name="lead_email" type="email" placeholder="Enter Your Email">
      <button type="submit">Submit</button>
    </form>

    <%if (!(typeof leads === "undefined")) { %>
      <h1>Leads</h1>

      <% for(var i=0;i<leads.length; i++) {%>
        <p><%= leads[i].email %></p>
     <% } %>

    <% } %>

  </body>
</html>
