<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lead</h1>
    <p>
        <span>
            <%= lead.email %>
            <a href='/lead/<%= lead.id %>/edit'> Edit </a>
            <!-- Button to delete a lead -->
            <form action="/lead/<%= lead.id %>/delete" method="POST">
              <button type="submit"> Delete </button>
            </form>
        </span>
    </p>
  </body>
</html>