<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lead</h1>
    <p>
        <span>
            <%= lead.email %>
            <a href='/lead/<%= lead.id %>/edit'> Edit </a>
        </span>
    </p>
  </body>
</html>